*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: poppins; */
}
header{
    height: 10vh;
    width: 100%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 8%;
    padding-right: 9% ;
    background: linear-gradient(to bottom,orange,brown,red);


}
.logo{
    display: flex;
    color: white;
    font-size: 120%;
    gap: 4%;
    
}
#cup{
    color: white;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25%;
    font-size: 120%;
}
a{
    text-decoration: none;
    color: aqua;
}
a:hover{
    color: yellow;
}
.section-1{
    height: 70vh;
    width: 100%;
    background-color: black;
    position: relative;
    
}
.sec1{
    width: 65%;
    height: 100%;
    margin-left: 35%;
}
.order{
    border-radius: 10%;
    background: linear-gradient(to left,brown,orange);
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    box-shadow: 0 0 10px orange;
    animation: fade 3s infinite;
    cursor: pointer;
  
}
.order:hover{
    color: yellow;
}

@keyframes fade {
    0% {
      box-shadow: 0 0 10px orange;
    }
    50% {
      box-shadow: 0 0 20px orange;
    }
    100% {
      box-shadow: 0 0 10px orange;
    }
  }
  
.dreams{
    width: 20rem;
    font-size: 210%;
    color: white;
    text-decoration-style: dotted;
    position: absolute;
    top: 1%;
    left: 8%;
    font-family: 'Oleo Script', cursive;
    
}
html{
    scroll-behavior: smooth;
}
.section-2{
    height: 120vh;
    width: 100%;
    
}
.upcards{
    height: 20vh;
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
   font-size: 140%;
   font-family: poppins;

}
.downcards{
    height: 100vh;
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    align-items:baseline;
    justify-content: space-between;
    
}
.card1{
    width: 40%;
    height: 65%; 

}
.middle-card1{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: brown;
    font-family: 'Oleo Script', cursive;

    
}
.bottom-card1{
    width: 100%;
    height: 40%;
    font-size: 1.1rem;
    padding: 0.5rem;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   font-family: 'Roboto', sans-serif;
   color: orangered;
 
}
button{
    font-size: 1.2rem;
    color: white;
    background-color: red;
    border-radius: 50%;
    padding: 0.7rem 1rem;
    box-shadow: 0 0 10px red;
    animation: fade 3s infinite;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid orange;
    border-top:1px solid orange;
  
}
@keyframes fade {
    0% {
      box-shadow: 0 0 10px red;
    }
    50% {
      box-shadow: 0 0 20px red;
    }
    100% {
      box-shadow: 0 0 10px red;
    }
  }
  
.img1{
    width: 100%;
    height: 100%;
}
.top1{
    height: 80%;
    width: 100%;
    
}

.section-3{
    height: 100vh;
    height: 100vh;
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    align-items:baseline;
    justify-content: space-between;
}
.section-4{
    height: 50vh;
    background-color: purple;
    width: 100%;
    position: relative;
    font-family: poppins;
}
.cover4{
    width: 100%;
    height: 100%;
    opacity: 0.6;
}
.content-4{
    color: yellow;
    width: 50%;
    height:40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.6rem;
    position: absolute;
    z-index: 3;
    top: 10%;
    right: 25%;
    font-size: 170%;
}
.Follow{
    color: orange;
}

.section-5{
    height: 105vh;
    background-color: orange;
    width: 100%;
    
}
.update{
    font-size: 2rem;
    color: white;
    margin-top: 1rem;
    font-family: poppins;
}
.top{
    height: 20vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.2rem;
    gap: 1rem;
    font-family: poppins;
}
.lower{
    height: 85vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-left: 1rem;
    padding-right: 1rem;
    
}
.middle-card5{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: white;
    font-family: poppins;
    
}
.bottom-card5{
    width: 100%;
    height: 70%;
    font-size: 1.2rem;
    padding: 0.5rem;
   display: flex;
   color: black;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   font-family: 'Oleo Script', cursive;
 
}
.img5{
    width: 100%;
    height: 100%;
}
.top5{
    height: 33%;
    width: 100%;
    
}
.card5{
    width: 30%;
    height: 60%; 

}
.card50{
    width: 24%;
    height: 60%; 

}








.section-6{
    height: 30vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0.5rem 2rem;
    font-family: poppins;
    

}
.icons{
    gap: 0.5rem;
}
.bx{
    color: orange;
    font-size: 1.7rem;
}
.para{
    color: white;
}
li{
    color: brown;
}
.tel{
    color: brown;
    display: flex;
    margin-top: 1rem;
}
.cat{
    width:20vw;
    gap: 1rem;
}
.title{
    font-size: 1.5rem;
    color: orange;
    margin-bottom: 1rem;
}
.section-7{
    height: 13vh;
    background: rgb(131, 123, 123);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: large;
    gap: 1rem;
    width: 100%;
    font-size: 1.3rem;
    color: rgb(8, 1, 103);
    font-family: poppins;
}
.foot{
    color: white;
}